@font-face {
  font-family: "PixeloidSans";
  src: url("./assets/fonts/PixeloidSans-mLxMm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black; /* Set the background to black */
  color: white; /* Set the text color to white */
  margin: 0;
  padding: 0;
  font-family: "PixeloidSans", Arial, sans-serif; /* Apply the font globally */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
